<ul class="nav pull-right">
          <li><%= nav_link 'Home', root_path %></li>
          <li><%= nav_link "About",    '/static_pages/about' %></li>
          <li><%= nav_link "Contact", '/static_pages/contact' %></li>
          <li><%= nav_link "News", '/static_pages/news' %></li>
          <li><%= nav_link "Fluid Page", '/fluid_pages/fluid' %></li>
          <li><%= nav_link "With Sidebar", '/products_page/product' %></li>
        </ul>