<!DOCTYPE html>
<html>
  <head>
    <title>Test App | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header-fluid' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <%= render 'layouts/sidebar' %>

        <div class="span9">
          <%= yield %>
        </div>

      </div>

    </div>
  </body>
</html>